body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #fdfdfd;
  font-family: arial;
}

header {
  height: 200px;
  width: 100%;
  background-color: #BF9169;
}

/* header forside */
.header-index {
  height: 470px;
  width: 100%;
  background-color: #BF9169;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-index {
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .header-index {
    height: 200px;
  }
}

main {
padding-bottom: 50px;
}

section {
  margin-left: 0px;
}

footer {
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
  position: relative;
  height: 70px;
}

/* logo */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 12px;
}

/*forsidebillede*/
.wrapper {
  position: relative;
  width: 330px;
  height: 330px;
  margin-top: -180px;
  margin-left: 750px;
}

.wrapper span {
  position: absolute;
}

.wrapper span:first-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  width: 90%;
  height: 90%;
  background: #9B543B;
  opacity: 0.3;
  transition: .5s;
}

.wrapper:hover span:first-child {
  transform: translate(-50%, -50%) rotate(-10deg);
}

.wrapper .imgBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

.wrapper .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    display: block;
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 150px;
    height: 150px;
    margin-left: 150px;
    margin-top: 40px;
  }
}

h1 {
  position: relative;
  font-size: 50px;
  color: #F5F5F5;
  -webkit-text-stroke: 0.1vw #D9D8D0;

}
h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #34402E;
  -webkit-text-stroke: 0vw #D9D8D0;
  border-right: 2px solid #34402E;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,10%,100% {
    width: 0;
  }
  70%,90% {
    width: 100%;
  }
}


/* navigation */
.container {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display: inline-block;
  color: #101010;
  font-weight: lighter;
  font-size: 14px;
  padding: 0 40px;
}

.nav::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #A63D17;
  transition: width .3s;
}

.nav:hover::after {
  width: 100%;
  transition: width .3s;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  li a {
    padding: 10px;

  }
}

@media screen and (max-width: 767px) {
  .container {
    position: relative;
    margin-top: -50px;
  }

  li a {
    padding: 0 15px;

  }
}

/* forsidetekst */
.introduction {
  margin-top: 100px;
  margin-left: 200px;
  width: 450px;
  color: #010101;
  line-height: 1.5;
  font-size: 14px;
}

.home_text {
  margin-top: 50px;
  margin-left: -440px;
  width: 430px;
  line-height: 1.5;
  font-size: 14px;
  color: #010101;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .introduction {
    margin-top: 100px;
    margin-left: 100px;
    width: 320px;
  }

  .home_text {
    margin-top: 250px;
    margin-bottom: 80px;
    margin-left: 100px;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .introduction {
    margin-top: 100px;
    margin-left: 30px;
    width: 450px;
  }

  .home_text {
    margin-top: 450px;
    margin-bottom: 60px;
    margin-left: 5px;

  }
}

/* portfolio-side*/
.container2 {
  padding: 4px;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 1100px;
  top: 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.container2 .box {
  padding: 17px;
  margin: 20px;
  position: relative;
  width: 420px;
  height: 350px;
  overflow: hidden;
  transition: 0.5s;
}

.container2 .box:hover {
  transform: scale(1.25);
  background: #ff800a;
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
  z-index: 1;
}

.container2 .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container2 .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container2 .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  margin-left: 50px;
  align-items: flex-end;
}

.container2 .box .content p {
  color: #fff;
  background: #1010108a;
  padding: 8px;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size:  14px;
  font-weight: lighter;
  transform: translateY(200px);
  width: 300px;
  text-align: center;
}

.container2 .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.2s;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container2 {
    width: 100%;
  }

  .container2 .box {
    width: 300px;
    height: 250px;
  }

  .container2 .box .content {
    margin-left: 0px;
    padding-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .container2 {
    width: 100%;
  }

  .container2 .box {
    width: 300px;
    height: 250px;
  }

  .container2 .box .content {
    margin-left: 0px;
    padding-left: 8px;
  }
}

/* portfolio beskrivelser */
.portfolio_h2 {
  margin-top: 300px;
  font-size: 35px;
  font-weight: lighter;
}

.textbox {
  margin-top: -350px;
  margin-left: 530px;
  margin-bottom: 50px;
  max-width: 400px;
  padding: 15px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.5;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
  height: 320px;
}

.portfolio_container {
  margin-left: 80px;
}

.portfolio_container .portfolio_box {
  width: 410px;
  height: 350px;
  overflow: hidden;
  transition: 0.5s;
}

.portfolio_container .portfolio_box .imgBx2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio_container .portfolio_box .imgBx2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .portfolio_container .portfolio_box {
    width: 310px;
    height: 350px;
  }

  .textbox {
    margin-left: 400px;
    margin-right: 40px;
    max-width: 400px;
    padding-right: 50px;
  }

  .portfolio_container {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {

  .portfolio_h2 {
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio_pic {
    display: none;
  }

  .textbox {
    margin-left: auto;
    margin-right: auto;
  }
}


/* om mig-side */
.content-section {
  margin-top: 80px;
  margin-left: -490px;
  max-width: 450px;
  padding: 15px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.5;
}

.about_img {
  width: 350px;
  margin-top: -350px;
  margin-left: 600px;
  cursor: pointer;
}

.about_img:hover {
  filter: grayscale(100%);
}

.underskrift {
  width: 100px;

  margin-top: -10px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .content-section {
    margin-top: 80px;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 450px;
    padding: 15px;
  }

  .about_img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .content-section {
    margin-top: 80px;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 450px;
    padding: 15px;
  }

  .about_img {
    margin-left: 0px;
    width: 200px;
    margin-top: 10px;
  }
}

/* kontaktside */
.contact_container {
  margin-top: 95px;
  margin-left: -640px;
  margin-bottom: 50px;
  max-width: 321px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.5;
}

.contact_img {
  margin-top: -300px;
  margin-left: 500px;
  width: 300px;
  margin-bottom: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact_container {
    margin-left: -300px;
  }

  .contact_img {
    margin-left: 400px;
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .contact_container {
    margin-right: -620px;
  }

  .contact_img {
    display: none;
  }
}

/* kontaktikoner */
.contact-info {
  width: 60%;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  flex: 1;
  max-width: 200px;
  height: 90px;
  margin: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.card:hover > .icon {
  transform: scale(2);
  opacity: 0;
}

.card-content p, .card-content span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  opacity: 0;
}

.card-content p {
  top: 20px;
  text-transform: uppercase;
  color: #A63D17;
}

.card-content span {
  bottom: 20px;
  color: #010101;
  font-weight: lighter;
}

.card:hover p {
  opacity: 1;
  transition: 0.3s linear 0.3s;
}

.card:hover span {
  opacity: 1;
  bottom: 10px;
  transition: 0.3s linear 0.3s;
}

/* kontaktformular */
.container3 {
  width: 600px;
  height: 600px;
  box-sizing: border-box;
  padding: 40px;
}

.input, .msg .area {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  outline: none;
  transition: all 0.5s ease;
}

.login .input {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child {
  margin-right: 0;
}

.msg .area {
  height: 200px;
}

.btn {
  width: 150px;
  background: #A63D17;
  height: 40px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  color: #fdfdfd;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

.input:focus,
.msg .area:focus {
  border: 2px solid #A63D17;
}

@media screen and (max-width: 767px) {
  .container3 {
    width: 450px;
  }
}

/* footer */
.icons a {
  display: inline-block;
  font-size: 20px;
  height: 15px;
  width: 50px;
  line-height: 10px;
  text-align: center;
  margin: 0 10px;
  color: #101010;
  transition: .4s linear;
  position: relative;
}

.icons a::before , .icons a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: .5s linear;
}

.icons a:hover {
  transform: scale(.8);
}
